
<template>
    <div class="w-100 h-100 " style="background: url('/images/mountains.jpg') no-repeat center center fixed; background-size:  cover">
        <web3-login></web3-login>
        <div class="rpgui-center ">


            <div class="grid h-screen place-items-center">

                <div class="card card-body border-gray-300 card-bordered bg-gray-800 w-1/2">
                    <h1 class="rpg-font font-medium ra-5x">Endless Realms<br><p class="text-sm mt-1 mb-1">Devnet</p></h1>


                    <h2>Choose your adventurer</h2>

                    <nft-list :style="cards"></nft-list>
                    <mint-nft></mint-nft>


                    <!--select class="rpgui-dropdown"  v-model="selectedWorld">
                        <option v-for="world in worlds" :key="world.world_name" :value="world">
                            {{ world.world_name }}
                        </option>
                    </select>

                    <div v-if="selectedWorld" class="rpgui-container framed-grey max-w-prose text-white">
                        <p class="text-lg my-3"><strong>Theme</strong>:
                        {{ selectedWorld.theme }}</p><p class="text-lg my-3"><strong>Setting</strong>:
                        {{ selectedWorld.world_setting }}</p>
                        <p class="text-lg my-3"><strong>Your Quest</strong>:
                        {{ selectedWorld.your_quest }}</p>
                        <p class="text-lg my-y"><strong>Art Style</strong>: {{ selectedWorld.art_style }}</p>
                        <p class="text-lg my-y"><strong>Route</strong>: {{ selectedWorld.route }}</p>

                    </div>
                    <select class="rpgui-dropdown"  v-model="artModifier">
                        <option value="pixel art, Lucasarts, Loom, Monkey Island, Simon The Sorcerer, Kyrandia, dark, moody, atmospheric, beautiful, Thimbleweed Park">Lucasarts style Pixel Art</option>
                        <option value="stunning 3d render, digital art, highly detailed, Unreal Engine 4k, octane render" selected>3D Rendered</option>
                        <option value="stunning 2d render, digital art, highly detailed, Unreal Engine 4k, octane render, (cel-shaded), 2d, Borderlands, (cel shading), flat shaded" >Cel Shaded</option>
                        <option value="anime masterpiece by Studio Ghibli, 8k, sharp high quality anime, artstation, pixiv,  in the style of ilya kuvshinov, makoto shinkai, KyoAni" >Anime</option>
                    </select>
                    <button class="btn btn-primary" @click="beginStory('begin')"><i class="ra ra-acid ra-2x"></i> Generate New Character + Begin Quest</button>
                    <p class="text-white">Generating characters and story can take 5-15 seconds per turn.<br/>Click once, take your time. Very alpha, excuse the bugs.<br>Return to http://spladventures.xyz/story to start a new adventure</p>-->
                </div>

            </div>
        </div>
    </div>
</template>

<script>
import  Web3Login  from '../Login.vue'
import NftList from "@/Web3/NftList.vue";
import MintNft from "@/Web3/MintNft.vue";
export default {
    name: "Begin",
    props: ['worlds', 'user'],
    components: {
        NftList,
        Web3Login,
        MintNft
    },
    data() {
        return {
            selectedWorld: this.$props.worlds['Neo Night City'] || null,
            artModifier: "stunning 3d render, digital art, highly detailed, Unreal Engine 4k, octane render",
        }
    },
    methods: {
        beginStory: function (story) {
            this.$inertia.post('/story/begin', {world: this.selectedWorld.world_name, artModifier: this.artModifier})
        }
    }
}
</script>

<style scoped>

</style>
