<template>
    <div class=" h-screen bg-cover bg-gray-500">
        <!--    <div class="rpgui-container framed-grey text-white text-xs">
                {{ world.world_name }}: {{ world.world_setting}}{{ world.your_quest }}
            </div>-->
        <!--    <em>Image prompt: ({{ turn.illustration }}), {{ world.art_style }}</em>-->
        <div class=" h-full bg-contain bg-no-repeat " :style="'background: url(\''+background_image+'\') no-repeat center center fixed; background-size:cover'">
            <div class="flex content-end" style="height:25%; position:absolute; bottom:0">
            <div class="w-2/6 grid  place-items-first" >
                <div class="card bg-gray-900 relative text-white text-sm w-auto">
                    <div class="flex">
                        <div class="w-1/2"><img :src="character_image" v-if="character_image" class=""></div>
                        <div class="">
                            <h4 class="text-xl font-semibold">{{ character.attributes.name }}</h4>
                            <p>{{ emojiStats }}</p>
                            <em>Level {{ character.attributes.level }} {{ character.attributes.class }}</em>
                            <p v-if="character.attributes.location">Location: {{ character.attributes.location }}</p>
                            <p><em class="text-xs">{{character.attributes.character }}</em></p>

                            <p>HP: {{ character.attributes.h_p || 100 }} ({{ (turn.h_p_change || "0").trim()}})</p>
                            <p>XP: {{ character.attributes.x_p || 0 }} ({{ (turn.x_p_change || "0").trim()}})</p>
                            <p v-if="character.attributes.buffs">Buffs: {{ character.attributes.buffs }}</p>
                            <p>Weapon: {{ character.attributes.weapon }}</p>
                            <p>Inventory:</p>
                            <ul>
                                <li v-for="item in character.attributes.inventory.split(',')" :key="item">
                                    <a href="#" @click="useItem(item)" class="rpgui-">{{ item }}</a>
                                </li>
                            </ul>
                            <p v-if="character.attributes.party">Party: {{ character.attributes.party }} </p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="w-2/6 text-center  grid">
                <div v-if="turn" class="card  w-full relative mx-auto text-sm card-bordered bg-black bg-transparent/60 p-5 absolute " style="bottom:0px">
                    <div class="card-text ">
                        <h3 class="">{{ turn.turn_response.summary }}</h3>
                        <p class="text mb-4">{{ turn.turn_response.outcome }}</p>

                        <button v-for="action in turn.turn_response.location.actions" class="btn btn-warning mr-2 btn-sm    "
                                @click="nextTurn(action)">{{ action }}
                        </button>
                    </div>
                </div>

            </div>
            <div class="w-2/6    text-white text-sm">
                <div>
                    <div class="card bg-gray-900 relative text-white text-sm w-auto"
                         v-if="turn.turn_response.location.NPCs[0] && String(turn.turn_response.location.NPCs[0].description.name).toLowerCase() != 'none' ">
                        <div class="flex">
                            <div class="w-1/2">
                                <img :src="npc_image" v-if="npc_image" class="">
                            </div>
                            <div class="w-1/2">
                                <h4>{{ turn.turn_response.location.NPCs[0].description.name }}</h4>
                                <em>{{ turn.turn_response.location.NPCs[0].description.illustration}}</em>
                                <p>Level: {{turn.turn_response.location.NPCs[0].status.Level}}</p>
                                <p>Damage: {{ turn.n_p_c_damage }}</p>
                                <p>Stats: {{ turn.n_p_c_stats }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

    </div>
</template>

<script>
// import character from "@/Pages/character.vue";

export default {
    name: "Story",
    props: ['world', 'character', 'history', 'turn'],
    data() {
        return {
            background_image: null,
            character_image: null,
            npc_image: null,
        }
    },
    methods: {
        nextTurn: function (action) {
            this.$inertia.post('/story/turn/' + this.character.id, {action: action}, {
                onFinish: this.fetchImages(),
            })
        },
        useItem: function (item) {
            this.$inertia.post('/story/turn/' + this.character.id, {action: 'Use ' + item}, {
                onFinish: this.fetchImages(),

            })
        },
        updateStory: function () {
            this.$inertia.get('/story/turn/' + this.character.id,{},{
                onFinish: this.fetchImages()
            })
        },
        fetchImages: function () {
            console.log('fetching new images')
            this.background_image = null
            this.character_image = null
            this.npc_image = null
            axios.get('/story/characterImage/'+this.character.id).then(response => {
                if (response.data.url!='') this.character_image = response.data.url;
            })
            axios.get('/story/npcImage/'+this.turn.id).then(response => {
                if (response.data.url!='') this.npc_image = response.data.url;
            })
            axios.get('/story/backgroundImage/'+this.turn.id).then(response => {
                console.log(response.data)
                if (response.data.url!='') this.background_image = response.data.url;
            })
        }
    },
    computed: {
        emojiStats() {
          /*  return this.character.attributes.attributes.stats.replace('Strength', '💪')
                .replace('Dexterity', '🤸')
                .replace('Constitution', '🏋️')
                .replace('Intelligence', '🧠')
                .replace('Wisdom', '🧙')
                .replace('Charisma', '🎭')
                .replace('Luck', '🍀')
                .replace('Agility', '🤸')
                .replace('Intelligence', '🧠')
                .replace('Magic', '🧙')
                .replace('Stealth', '🤫')*/

        }
    },
    mounted() {
        // if (!this.turn.background_image_url) window.setTimeout(this.updateStory, 2000);
        this.fetchImages()
        console.log(this.character, this.turn)
    },
    watch: {
        'turn.summary': function () {
            console.log('turn summary changed')
            this.fetchImages()
        }
    }


}
</script>

<style scoped>

</style>
