<template>
    <div class="w-100 h-100 " style="background: url('/images/mountains.jpg') no-repeat center center fixed; background-size:  cover">
        <web3-login></web3-login>
        <div class="rpgui-center ">


            <div class="grid h-screen place-items-center">

                <div class="card card-body border-gray-300 card-bordered bg-gray-800 w-1/2 prose">
                    <img :src="'/'+character.image" class="w-100">
                    <div class="card-text text-left">
                        <div>
                        <h1>
                            <button class="pull-right btn btn-primary" @click="beginStory('begin')"><i class="ra ra-sword ra-2x"></i> Begin Quest</button>
                            {{ character.attributes.name }}<br><span class="text-sm">{{ character.attributes.class}}</span>
                        </h1>
                        <p>{{ character.attributes.backstory }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
export default {
    name: "Character",
    props: {
        character: {
            type: Object,
            required: true
        },
        user: {
            type: Object,
            required: false
        }
    }
}
</script>

<style scoped>

</style>
