<template>
    <div class="">
        <wallet-multi-button dark >

        </wallet-multi-button>
        <button @click="signMessage" class="btn btn-secondary" v-if="wallet.connected && messageToSign && !user"><i class="ra ra-player"></i> Login</button>

    </div>
</template>

<script>
import { Connection, clusterApiUrl, Keypair, SystemProgram, Transaction, PublicKey } from '@solana/web3.js';
import { useWallet } from 'solana-wallets-vue';
import { WalletMultiButton } from "solana-wallets-vue";
import nacl from "tweetnacl";
import { decodeUTF8 } from "tweetnacl-util";
import { defineComponent } from 'vue';
import NftList from "@/Web3/NftList.vue";

// let x = new PublicKey().
export default {
    name: "Web3Login",
    components: { WalletMultiButton, NftList},
    data() {
        return {
            signedMessage: null,
            messageToSign: null,
            wallet: useWallet(),
            user: null,
        }
    },
    mounted() {
        console.log('login', this.wallet)
        console.log('login', this.wallet)
        this.getUser();
        this.getMessage();

    },
    watch: {
        'wallet.connected': {
            handler: function (val, oldVal) {
                console.log('wallet', val)
                if (val) {
                    this.signMessage();
                } else {
                    this.logout();
                }

            },
            deep: true
        }
    },
    methods: {
        getUser() {
            axios.get('/web3/user').then(response => {
                this.user = response.data;
                console.log(response.data)
            })
        },
        getMessage() {
            axios.get('/web3/message').then(response => {
                this.messageToSign = response.data;
                console.log(response.data.message)
            })
        },
        logout() {
            axios.post('/web3/logout').then(response => {
                this.user = null;
                this.getMessage()
            })
            this.wallet.disconnect()
        },
        async signMessage() {
            if (this.user) return;
            let message = decodeUTF8(this.messageToSign);
            console.log(message);
            try {
                let signedMessage = await this.wallet.signMessage(message)
                this.signedMessage = signedMessage;
                console.log(signedMessage, this.wallet.publicKey);

                axios.post('/web3', {
                    message: message,
                    signature: Buffer.from(signedMessage).toString('hex'),// this.decodeUtf8( signedMessage), //this.Utf8ArrayToStr(signedMessage),
                    publicKey: this.wallet.publicKey.toBytes().toString('hex')
                }).then(response => {
                    console.log(response.data)
                    this.logout()
                    this.getMessage()
                }).error(error => {
                    this.wallet.disconnect()
                    this.logout()
                    this.getMessage()
                })
            } catch (error) {
                    console.log('rejected')
                    console.log(error)
                    this.wallet.disconnect()
            }
        },
        decoder(e) {
            var n, r = unescape(encodeURIComponent(e)), t = new Uint8Array(r.length);
            for (n = 0; n < r.length; n++) t[n] = r.charCodeAt(n);
            return t
        },
        decodeUtf8(bytes) {
            return new TextDecoder().decode(bytes);
        },
        Utf8ArrayToStr(array) {
            var out, i, len, c;
            var char2, char3;

            out = "";
            len = array.length;
            i = 0;
            while (i < len) {
                c = array[i++];
                switch (c >> 4) {
                    case 0:
                    case 1:
                    case 2:
                    case 3:
                    case 4:
                    case 5:
                    case 6:
                    case 7:
                        // 0xxxxxxx
                        out += String.fromCharCode(c);
                        break;
                    case 12:
                    case 13:
                        // 110x xxxx   10xx xxxx
                        char2 = array[i++];
                        out += String.fromCharCode(((c & 0x1F) << 6) | (char2 & 0x3F));
                        break;
                    case 14:
                        // 1110 xxxx  10xx xxxx  10xx xxxx
                        char2 = array[i++];
                        char3 = array[i++];
                        out += String.fromCharCode(((c & 0x0F) << 12) |
                            ((char2 & 0x3F) << 6) |
                            ((char3 & 0x3F) << 0));
                        break;
                }
            }

            return out;
        }

    }
}


</script>

<style scoped>

</style>
