<template>
<div>
    <wallet-multi-button></wallet-multi-button>
    <button @click="delegateTokens(200)" class="rpgui-button">Delegate 200</button>
    <button @click="transfer(200)" class="rpgui-button">Test Token Transfer</button>
</div>
</template>

<script>
import { Connection, clusterApiUrl, Keypair, SystemProgram, Transaction, PublicKey } from '@solana/web3.js';

import {
    approveChecked,
    createApproveCheckedInstruction,
    getAssociatedTokenAddress,
    getAccount
} from "@solana/spl-token";
import {useWallet, WalletMultiButton} from 'solana-wallets-vue';

// the backend pubkey for moving tokens to a secure account
const delegatePubkey = new PublicKey('FkEBSyPND7uGscXDMMYuSdqK3rTUdcNLhad2ueY9vrxU')
// token mint we're moving
const mintPubkey = new PublicKey('4VeAqicsAdcynCJPHUiLynjqwNH1siecYBJxqca9HDWM')

const ata = new PublicKey('4VeAqicsAdcynCJPHUiLynjqwNH1siecYBJxqca9HDWM')

const connection = new Connection('https://try-rpc.mainnet.solana.blockdaemon.tech/', 'confirmed');

export default {
    name: "TestTokenTransfer",
    components: {WalletMultiButton},
    data() {
        return {
            wallet: useWallet()
        }
    },
    methods: {
        // delegateTokens(amount)
        // this function should create an spl token delegation transaction for the user to sign.
        // once the user signs the transaction, it should be sent to the server to be submitted to the blockchain.
        async delegateTokens(amount) {
            // get user's associated token account using this.wallet.publicKey
            console.log('getting user ata using wallet public key', this.wallet.publicKey)
            let userAssociatedTokenAccount = await getAssociatedTokenAddress(mintPubkey,this.wallet.publicKey);
            let info = await getAccount(connection, userAssociatedTokenAccount);
            console.log('userAssociatedTokenAccount', userAssociatedTokenAccount);
            console.log('info', info);
            // create a new transaction
            let transaction = new Transaction().add(createApproveCheckedInstruction(
                userAssociatedTokenAccount,
                mintPubkey,
                delegatePubkey,
                this.wallet.publicKey,
                amount * 1e9,
                9
            ))
            console.log(transaction)
            // sign the transaction
            try {
                var signedTransaction = await this.wallet.sendTransaction(transaction, connection)
            } catch (e) {
                console.log(e)
            }
            console.log('signedTransaction', signedTransaction)

            // use built in function to create the transaction
            /*let txhash = await approveChecked(
                connection,
                this.wallet,
                mintPubkey,
                userAssociatedTokenAccount,
                delegatePubkey,
                this.wallet,
                amount * 1e8,
                8
            )*/
                // get updated account info
            let info2 = await getAccount(connection, userAssociatedTokenAccount);
            console.log('info2', info2);
            // send the signed transaction to the server
            // axios.post('/web3', {
            //     transaction: signedTransaction
            // }).then(response => {
            //     console.log(response.data)
            // })
        },
        async transfer(amount) {
            // test a post to the server to transfer our delegated tokens away

            let userAssociatedTokenAccount = await getAssociatedTokenAddress(mintPubkey,this.wallet.publicKey);
            console.log('userAssociatedTokenAccount', userAssociatedTokenAccount.toString());
            let params = {
                amount: amount,
                token: mintPubkey.toString(),
                fromAccount: userAssociatedTokenAccount.toString(),
                owner: this.wallet.publicKey.toString()
            };
            console.log('params', params)
            axios.post('/web3/spend', params).then(response => {
                console.log(response.data)
            })
        }
    }
}
</script>

<style scoped>

</style>
