@import "rpg-awesome/css/rpg-awesome.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.rpg-font {
    font-family: "The Wild Breath Of Zelda";

}
@font-face {
    font-family: 'The Wild Breath of Zelda';
    src: url('/fonts/TheWildBreathofZelda.eot');
    src: url('/fonts/TheWildBreathofZelda.eot?#iefix') format('embedded-opentype'),
    url('/fonts/TheWildBreathofZelda.woff2') format('woff2'),
    url('/fonts/TheWildBreathofZelda.woff') format('woff'),
    url('/fonts/TheWildBreathofZelda.ttf') format('truetype'),
    url('/fonts/TheWildBreathofZelda.svg#TheWildBreathofZelda') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

