<template>
<div>
    <button @click="mintNft" class="btn btn-primary">Mint Adventurer NFT</button>
    <div v-if="candyMachine">
        {{ candyMachine.itemsRemaining.toString() }} / {{ candyMachine.itemsAvailable }} remaining
    </div>
</div>
</template>

<script>

import { useWallet } from "solana-wallets-vue";
import { Metaplex, walletAdapterIdentity } from "@metaplex-foundation/js";
import { Connection, clusterApiUrl, PublicKey } from "@solana/web3.js";

// const connection = new Connection('https://rpc.helius.xyz/?api-key=9dc68061-cf58-4805-b99a-861b3e093d37');
const connection = new Connection('https://rpc-devnet.helius.xyz/?api-key=9dc68061-cf58-4805-b99a-861b3e093d37'   );
const metaplex = new Metaplex(connection);

export default {
    name: "MintNft",
    data() {
        return {
            wallet: useWallet(),
            nfts: [],
            loading: false,
            error: null,
            candyMachine: null
        };
    },
    async mounted() {
        console.log('mounting nftlist')
        if(this.wallet?.connected) metaplex.use(walletAdapterIdentity(this.wallet))
        const candyMachine = await metaplex.candyMachines().findByAddress({address: new PublicKey('HqGywmHNF5YcXtSgz8TTaMAqvywHs3nEL87xZ2j2KN62')})
        console.log(candyMachine)
        this.candyMachine = candyMachine
    },
    methods: {
        async mintNft() {
            const candyMachine = await metaplex.candyMachines().findByAddress({address: new PublicKey('HqGywmHNF5YcXtSgz8TTaMAqvywHs3nEL87xZ2j2KN62')})
            console.log(candyMachine)
            const result = await metaplex.candyMachines().mint({candyMachine, collectionUpdateAuthority: new PublicKey('9szhwGTyve7gBVcCNuUCPLVurLC2FTQjmgEadbGzKSA8')})
            console.log(result)
        }
    },
    watch() {
        return {
            'wallet.connected': function(val) {
                console.log('wallet connected')
                if(val) {
                    console.log('wallet connected')

                    metaplex.use(walletAdapterIdentity(this.wallet))
                }
            }
        }
    }

}
</script>

<style scoped>

</style>
