<template>
<div>
    <div class="card w-1/4 m-2 inline-flex card-bordered" v-for="nft in nfts">
        <figure class="m-0">
            <img :src="nft.metadata.image">
        </figure>
        <div class="card-body p-2">
            <h1 class="card-title">
            {{ nft.metadata.name }}
            </h1>
            <p class="card-text">{{ nft.metadata.attributes.filter((attr) => attr.trait_type === 'class')[0].value }}</p>
            <a class="btn btn-secondary" :href="nft.metadata.external_url.replace(/\/\/c/,'/c')">Details</a>
        </div>
    </div>
</div>
</template>

<script>
import { useWallet } from "solana-wallets-vue";
import { Metaplex } from "@metaplex-foundation/js";
import { Connection, clusterApiUrl, PublicKey } from "@solana/web3.js";

// const connection = new Connection('https://rpc.helius.xyz/?api-key=9dc68061-cf58-4805-b99a-861b3e093d37');
const connection = new Connection('https://rpc-devnet.helius.xyz/?api-key=9dc68061-cf58-4805-b99a-861b3e093d37'   );
const metaplex = new Metaplex(connection);

export default {
    name: "NftList",
    data() {
        return {
            wallet: useWallet(),
            nfts: [],
            loading: false,
            error: null,
        };
    },
    mounted() {
        console.log('mounting nftlist')
        this.loadNfts();
    },
    methods: {
        start(url) {
            url = url.replace(/\/\//g, '/')
            this.$inertia.visit(url)
        },
        async loadNfts() {
            this.loading = true;
            this.error = null;

            if (!this.wallet.connected) {
                this.loading = false;
                this.nfts = [];
                return;
            }
            const accounts = await connection.getParsedTokenAccountsByOwner(
                this.wallet?.publicKey,
                {programId: new PublicKey('TokenkegQfeZyiNwAJbNbGKPFXCWuBvf9Ss623VQ5DA')}
            )
            // console.log(accounts)
            let singleAccounts = accounts.value.filter((acc) => {
                if (acc.account.data.parsed.info.tokenAmount.amount == 1) return true
            }).map((acc) =>
                    new PublicKey(acc.account.data.parsed.info.mint)
            )

            // console.log(singleAccounts)
            const nfts = await metaplex.nfts().findAllByMintList({mints:singleAccounts})
            // const nfts = await metaplex.nfts().findAllByOwner(this.wallet.publicKey)
            // console.log(nfts);

            const ourNfts = nfts.filter((nft) => {
                let creators = nft.creators

                if (creators.length == 0) return false
                console.log(nft.creators[0].address.toString())
                if ((nft.creators[0].address.toString() || '') == 'DBGERkSerubWM1Pxaq1NSwxThpCkzkjoRjn4XNCSiBti' ) return true

            })
            // console.log(ourNfts)

            let nftsWithData = []
            for(let i = 0; i < ourNfts.length; i++) {
                let nft = ourNfts[i]
                // if (typeof nft.mint !== 'object') console.log(nft)
                // let metadata = await metaplex.nfts().findByMint({mintAddress: nft.mintAddress})
                let response = await axios.get(nft.uri)
                nft.metadata = response.data
                // let nftObj = await metaplex.metadata().load(nft)
                // console.log(metadata)
                nftsWithData.push(nft)
            }
            console.log(nftsWithData)
            this.nfts = nftsWithData;
        },
    },
    watch: {
        wallet: {
            handler() {
                this.loadNfts();
            },
            deep: true,
        },
    },
}
</script>

<style scoped>

</style>
